body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  font-size: 100%;
  background-color: #eee;
}

h1 {
  margin: 1rem 2rem;
  color: #555;
  font-size: 1.5rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.6rem;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* Header */

.header {
  background-color: #fff;
  height: 6em
}

.header ul.actions {
  margin: 0;
}

.header .session {
  text-align: right;
  float:right;
  padding: 1rem 2rem;
}

.header .session a {
  color: #5798B9;
  margin-right: 3rem;
}

.logo {
  padding: .5rem 2rem;
  float: left;
}
.logo img {
  width: auto;
  height: 5rem;
}


/* Candidates */
ul.candidates {
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}

li.candidate {
  background-color: #fff;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  width: 95%;
  height: 15rem;
  box-sizing: border-box;
  list-style: none;
  float: left;
  border-radius: 7px;
  border: 1px solid #ddd;
}

li.candidate img {
  border-radius: 100%;
}

li.candidate p {
  font-size: 0.8rem;
  color: #666;
}

.vote li.candidate {
  cursor: pointer;
}

li.candidate.selected {
  background-color: lightyellow;
}

.clear {
  clear: both;
}

form.vote input.vote {
  display: none;
}

form.vote input[type=submit] {
  box-sizing: border-box;
  margin: 1em auto;
  padding: 1rem;
  text-align: center;
  width: 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  font-size: 150%;
  text-transform: capitalize;
  color: white;
  background-color: green;
  border-radius: 5px;
}

form.vote input[type=submit]:disabled {
  color: darkgray;
  background-color: lightgray;
}

.election h3  {
  margin: 1rem 2rem;
  color: #5798B9;
}



@media (min-width: 768px) {
  li.candidate {
    width: 45%;
  }
}

@media (min-width: 1024px) {
  li.candidate {
    width: 30%;
  }
}
