body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  font-size: 100%;
}
ul.candidates {
  margin: 0;
  padding: 1rem 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 32rem;
  text-align: center;
}
li.candidate {
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  min-width: 30%;
  height: 15rem;
  box-sizing: border-box;
  list-style: none;
  float: left;
}
.vote li.candidate {
  cursor: pointer;
}
li.candidate.selected {
  background-color: lightyellow;
}
.clear {
  clear: both;
}
form.vote input.vote {
  display: none;
}
form.vote input[type=submit] {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  width: 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  font-size: 150%;
  text-transform: capitalize;
  color: white;
  background-color: green;
}
form.vote input[type=submit]:disabled {
  color: darkgray;
  background-color: lightgray;
}