body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  font-size: 100%;
  background-color: #eee;
}

.content {
  margin: 1rem 2rem;
}

h1 {
  margin: 1rem;
  color: #555;
  font-size: 1.5rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.6rem;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.flash {
  text-align: left;
  width: 100%;
  padding: 1rem 2rem;
  box-sizing: border-box;
}

.flash.notice {
  border-color: darkgreen;
  background-color: lightgreen;
}

.flash.error {
  background: #d9534f;
  color: #fff;
}

/* Header */

.header {
  background-color: #fff;
  height: 6em
}

.header ul.actions {
  margin: 0;
}

.header .session {
  text-align: right;
  float:right;
  padding: 1rem 2rem 1rem 0;
}

.header .session a {
  color: #5798B9;
  margin-right: 3rem;
}

.logo {
  padding: .5rem 2rem;
  float: left;
}
.logo img {
  width: auto;
  height: 5rem;
}

/* Candidates */
ul.candidates {
  margin: 0;
  padding: 1rem 0;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}

li.candidate {
  background-color: #fff;
  padding: 1rem 0;
  margin: 1rem;
  text-align: center;
  width: 95%;
  height: 16rem;
  box-sizing: border-box;
  list-style: none;
  float: left;
  border-radius: 7px;
  border: 1px solid #ddd;
  overflow: hidden;
}

.vote li.candidate {
  cursor: pointer;
  height: 24rem;
  padding: 0 1rem;
}
.vote li.candidate:hover {
  background-color: #FFFFF6;
}
.vote li.candidate.selected {
  background-color: lightyellow;
}
.vote li.candidate.selected:hover {
  background-color: #FFFFF6;
}
.vote li.candidate .top {
  height: 8rem;
}
.vote li.candidate .bio {
  height: 13rem;
  overflow: auto;
  text-align: justify;
}

li.candidate h3 {
  color: #666;
}

li.candidate img {
  border-radius: 100%;
}

li.candidate p {
  font-size: 0.8rem;
  color: #666;
}

.clear {
  clear: both;
}

form.vote input.vote {
  display: none;
}

form.vote input[type=submit] {
  box-sizing: border-box;
  margin: 1em auto;
  padding: 1rem;
  text-align: center;
  width: 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  font-size: 150%;
  text-transform: capitalize;
  color: white;
  background-color: green;
  border-radius: 5px;
}

form.vote input[type=submit]:disabled {
  color: darkgray;
  background-color: lightgray;
}

.election h3 {
  margin: 1rem;
  color: #999;
}

h4.votecount {
  font-size: 2rem;
  margin: 0.5rem 0;
  color: #5798B9
}

.votecount span {
  font-size: 1rem;
  font-weight: lighter;
  display: block;
  text-align: center;
}

p.instructions {
  color: #666;
  margin: 0 1rem;
}

@media (min-width: 768px) {
  li.candidate {
    width: 45%;
  }
}

@media (min-width: 1024px) {
  li.candidate {
    width: 30%;
  }
}
